$fondPiedDePage: #2A2929;
$copyRightsCouleur: white;

.piedDePage{
  padding: 2rem;
  background-color: $fondPiedDePage;

  &__copyRights{
    color: $copyRightsCouleur;
    text-align: center;
  }
}